.super-mario {
  width: 200px;
  position: absolute;
  left:250px;
  z-index:1;
}

.goomba {
  width: 100px;
  position: absolute;
  left: 320px;
  top: 360px;
  z-index:2;

}

.baloon {
position: absolute;
top: 170px;
left: 560px;
z-index:1;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 580px;
  top: 200px;
  z-index: 2;

}

.bowser {
  width: 200px;
  position: absolute;
  left: 800px;
  top: 380px;
}